<footer>
	<div class="container">
		<div class="site-footer-nav flex-container centered">
			<div class="col" style="border-left: none;">
				<h5><span>About GoAnimate</span></h5>
				<ul>
					<li><a href="/about">Who we are</a></li>
					<li><a href="/contactus">Contact Us</a></li>
					<li><a href="/video-maker-tips">Blog</a></li>
					<li><a
							href="http://web.archive.org/web/20140617030404/http://press.goanimate.com/">Press</a>
					</li>
					<li><a href="/videos/mostwatched">Browse all videos</a></li>
				</ul>
			</div>
			<div class="col">
				<h5><span>Usage Guidelines</span></h5>
				<ul>
					<li><a href="/termsofuse">Terms of Service</a></li>
					<li><a href="/legal">Legal Notices</a></li>
					<li><a href="/privacy">Privacy Policy</a></li>
					<li class="dummy">&nbsp;</li>
					<li class="dummy">&nbsp;</li>
				</ul>
			</div>
			<div class="col" style="border-right: none;">
				<h5>Getting Help</h5>
				<ul>
					<li><a href="/video-maker-tips">Video Maker Tips</a></li>
					<li><a href="/video-maker-tips/table-of-contents-goanimate-tutorials/">Help Videos</a>
					</li>
					<li><a href="/faq">FAQs</a></li>
					<li><a href="/forums">Forums</a></li>
					<li class="dummy">&nbsp;</li>
				</ul>
			</div>
		</div>
		<hr />

		<div>
			Select your preferred language:

			<ul class="site-languages">

				<li class="active">English</li>
				<li><a href="javascript:chooseLanguage('es')">Español</a></li>
				<li><a href="javascript:chooseLanguage('jp')">日本語</a></li>
			</ul>
		</div>

		<hr>

		<div class="flex-container spc-between">
			<div class="site-footer-socials-container">
				Follow us on:
				<ul class="site-footer-socials flex-container">
					<li><a class="discord" href="https://discord.gg/NeUcnmWPWj">Discord</a>
					</li>
					<li><a class="twitter"
							href="http://web.archive.org/web/20140617030404/http://twitter.com/GoAnimate">Twitter</a>
					</li>
					<li><a class="youtube"
							href="http://web.archive.org/web/20140617030404/http://www.youtube.com/user/GoAnimate">YouTube</a>
					</li>
				</ul>
			</div>
			<div class="site-footer-copyright">
				This site is not affiliated with Vyond or GoAnimate Inc.
			</div>
		</div>
	</div>
</footer>