<header>
	<div class="container flex-container spc-between">
		<a class="site-logo" href="/" title="GoAnimate">
			<img alt="Make a Video Online with GoAnimate.com" src="/static/go/img/business_video/home/logo.png">
		</a>

		<ul id="head-right" class="top-nav collapse">
			<% if (user) { %>
				<li class="dropdown">
					<a class="dropdown-toggle" href="/videos" data-toggle="dropdown">Your Account <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/dashboard">Dashboard</a></li>
						<li><a href="/dashboard/videos">My Videos</a></li>
						<li><a href="/user/<%= user.id %>/followers">Follows</a></li>
						<li><a href="/dashboard/messages">Messages</a></li>
						<hr/>
						<li><a href="/account/settings">Preferences</a></li>
						<li><a href="/user/<%= user.id %>">Profile</a></li>
						<hr/>
						<li><a class="logout-link" href="/logout">Logout</a></li>
					</ul>
				</li>
			<% } else { %>
				<li><a href="/signup">Sign Up</a></li>
				<li><a href="/login">Login</a></li>
			<% } %> 
			<li class="dropdown">
				<a class="dropdown-toggle" href="/videos" data-toggle="dropdown">Explore <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="/video-maker-tips">Blog</a></li>
					<li><a href="/videos">Videos</a></li>
				</ul>
			</li>
			<li class="head-right-vm-btn">
				<span><a class="btn btn-orange" href="/videomaker">Make a Video</a></span>
			</li>
		</ul>
	</div>
</header>