main {
	display: flex;
	padding: 0;
}

/**
importer
**/
.ga-importer {
    background-color: #ccc;
	display: none;
    width: 360px;
    height: 100%;
    min-height: 640px;
}

/**
studio
**/
#studio_holder {
    width: 100%;
}