<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Quick Video Maker | GoAnimate</title>

		<meta name="description"
			content="With GoAnimate Quick Apps you can make your own video with just a few clicks. Then, type or record your dialog. It's super simple and fun!">

		<meta property="og:title" content="Make your own Japanese anime videos">
		<meta property="og:url"
			content="http://web.archive.org/web/20130729180419/http://goanimate.com/videomaker/quickvideo/anime">
		<meta property="og:image"
			content="http://web.archive.org/web/20130729180419im_/http://lightspeed.goanimate.com/static/425/go/img/script2cartoon/anime/img_fbthumb.jpg">
		<meta property="og:type" content="article">
		<meta property="og:site_name" content="GoAnimate">

		<link
			href="http://web.archive.org/web/20130729180419cs_/http://lightspeed.goanimate.com/static/425/go/css/buttons.css"
			rel="stylesheet" type="text/css">
		<link
			href="/static/go/css/script2cartoon/anime.css"
			rel="stylesheet" type="text/css">
		<link
			href="http://web.archive.org/web/20130729180419cs_/http://lightspeed.goanimate.com/static/425/go/css/script2cartoon/voiceselectionwidget.css"
			rel="stylesheet" type="text/css">
		<link
			href="http://web.archive.org/web/20130729180419cs_/http://fonts.googleapis.com/css?family=Droid+Sans:bold|Anton"
			rel="stylesheet" type="text/css">
		<!--[if lt IE 9]>
	<link href="http://lightspeed.goanimate.com/static/425/go/css/script2cartoon/ie.css" rel="stylesheet" type="text/css">
	<![endif]-->
		<link
			href="http://web.archive.org/web/20130729180419cs_/http://lightspeed.goanimate.com/static/425/go/css/watermark.css"
			rel="stylesheet" type="text/css">

		<script type="text/javascript"
			src="http://web.archive.org/web/20130729180419js_/http://lightspeed.goanimate.com/static/425/go/js/jquery/jquery-1.4.4.min.js">
		</script>
		<script type="text/javascript"
			src="http://web.archive.org/web/20130729180419js_/http://lightspeed.goanimate.com/static/425/go/js/jquery/jquery.blockUI.js">
		</script>
		<script type="text/javascript"
			src="http://web.archive.org/web/20130729180419js_/http://lightspeed.goanimate.com/static/425/go/js/jquery/jquery.scrollTo.min.js">
		</script>
		<script type="text/javascript"
			src="http://web.archive.org/web/20130729180419js_/http://lightspeed.goanimate.com/static/425/go/js/jquery/jquery.jplayer.min.js">
		</script>
		<script type="text/javascript"
			src="http://web.archive.org/web/20130729180419js_/http://lightspeed.goanimate.com/static/425/go/js/jquery/jquery.tmpl.min.js">
		</script>
		<script type="text/javascript"
			src="http://web.archive.org/web/20130729180419js_/http://lightspeed.goanimate.com/static/425/go/js/lite.js">
		</script>
		<script type="text/javascript"
			src="http://web.archive.org/web/20130729180419js_/http://lightspeed.goanimate.com/static/425/go/js/voiceselectionwidget.js">
		</script>
		<script type="text/javascript"
			src="http://web.archive.org/web/20130729180419js_/http://lightspeed.goanimate.com/static/425/go/js/Gettext.js">
		</script>
		<script type="text/javascript"
			src="http://web.archive.org/web/20130729180419js_/http://lightspeed.goanimate.com/static/425/go/po/goserver_js-en_US.json">
		</script>

		<script type="text/javascript">
			var srv_tz_os = -4;
			var view_name = "go";
			var user_cookie_name = "u_info";
			var golite_theme = "anime";

			var I18N_LANG = 'en_US';
			var GT = new Gettext({
				'locale_data': json_locale_data
			});

		</script>
	</head>
	<body id="go" data-twttr-rendered="true">

		<script type="text/javascript">
			GoLite.settings.player = {
				swf: "http://web.archive.org/web/20130729180419/http://lightspeed.goanimate.com/animation/808/player.swf",
				height: 384,
				width: 550
			}
			GoLite.settings.thumbnailChooser = {
				swf: "http://web.archive.org/web/20130729180419/http://lightspeed.goanimate.com/animation/808/thumbnailChooser.swf",
				height: 170,
				width: 295
			}
			VoiceRecorder.defaultSettings.swf =
				"http://web.archive.org/web/20130729180419/http://lightspeed.goanimate.com/static/425/go/img/script2cartoon/common/dialog/MyMicRecorder.swf";
			jQuery.extend(VoiceRecorder.defaultSettings.flashvars, {
				apiserver: "http://web.archive.org/web/20130729180419/http://goanimate.com/",
				clientThemePath: "http://web.archive.org/web/20130729180419/http://lightspeed.goanimate.com/static/425/<client_theme>",
				u_info: ""
			});

			// scroll to target step
			function stepTo(step) {
				var settings = {
					duration: 1500,
					offset: {
						top: -30
					}
				};
				// auto focus dialog input
				if (step == '#step3') {
					settings.onAfter = function () {
						jQuery('#dialogs .focus .dialog_input').focus();
					};
				}
				jQuery.scrollTo(step, settings);
			}

			kisstrack('GoLiteStart');

		</script>
		<div id="bg"></div>
		<div id="container">
			<div id="nav_links">
				<div class="inside">
					<ul>
						<li class="home" title="Back to Home"><a
								href="http://web.archive.org/web/20130729180419/http://goanimate.com/videomaker"
								onclick="return confirm('You will lose your work if you leave this page. Are you sure?');">Home</a>
						</li>
						<li class="seperate">&nbsp;</li>
						<li class="intro on"><a onclick="stepTo('#intro')">0</a></li>
						<li class="step1"><a onclick="stepTo('#step1');">1</a></li>
						<li class="step2"><a onclick="stepTo('#step2');">2</a></li>
						<li class="step3"><a onclick="stepTo('#step3');">3</a></li>
						<li class="step4"><a onclick="GoLite.preview();stepTo('#step4');">4</a></li>
						<li class="seperate">&nbsp;</li>
						<li class="next" title="Next step"><a>Next</a></li>
						<li class="prev" title="Previous step"><a>Previous</a></li>
					</ul>
					<div class="clear"></div>
				</div>
			</div>

			<div id="login_bar" style="display:none">
				<div class="inside">
					You'll need to signup to preview your video. Do it now. <div class="options">
						<a href="javascript:;" onclick="submitFBConnect();">Login with facebook</a> -
						<a id="login_link" href="#">Login</a> -
						<a id="signup_link" href="#">Sign up</a>
					</div>
				</div>
			</div>
			<script type="text/javascript">
				function submitFBConnect() {
					if (!FB) {
						displayFeedback("1" + GT.gettext("Sorry, Facebook is blocked at your location."));
						return;
					}

					FB.login(function (response) {
						if (response.authResponse) {
							FBConnectCheck();
						}
					}, {
						scope: 'email,publish_stream,offline_access'
					});
				}

				function FBConnectCheck() {
					jQuery.post('/ajax/FBConnectCheck', function (response) {
						parseResponse(response);

						if (responseArray['code'] == '0') {
							jQuery(document).trigger('user.signup');
						} else {
							showNotice(responseArray['json'].error, true);
						}
					});
				}

				jQuery('#login_link').click(function (e) {
					e.preventDefault();
					showOverlay(jQuery('#login'));
					jQuery('#login_email').focus();
				});

				jQuery('#signup_link').click(function (e) {
					e.preventDefault();
					showOverlay(jQuery('#signup'), {
						top: '80px'
					});
					jQuery('#email').focus();
				});

			</script>

			<div id="intro" class="section">
				<div class="inside">
					<h1 class="hide">Anime</h1>
					<p>Now you can make videos anime style! For all the manga fans out there.</p>
					<p>The drill?<br>
						1. Select a setting<br>
						2. Choose your characters<br>
						3. Type or record your dialog<br>
						4. Watch your masterpiece!</p>
				</div>

				<a class="btn_next" href="#step1" onclick="stepTo('#step1'); return false;">Next</a>
			</div>

			<div id="seperator0"></div>

			<div id="step1" class="section">
				<h2>1. Choose a Setting</h2>

				<a class="previous_step" href="#intro" onclick="stepTo('#intro'); return false;">Back</a>

				<div class="inside">
					<div id="template_name"></div>
					<div id="template_desc"></div>
					<div id="templates" class="item_selector">
						<a class="select_button prev" href="#">&lt;</a>
						<div class="items">
							<div class="item selected" data-tid="0I1cUtXst6Bs"
								data-thumb="http://fs.goanimate.com/files/thumbnails/movie/1426/1309426/11897102.jpg"
								title="Rice Cakes At Home" data-desc="A relaxing afternoon at home eating rice cakes."
								data-char-thumb-a="http://lightspeed.goanimate.com/static/425/go/img/script2cartoon/anime/step02/thumbs/bg06_a.jpg"
								data-char-thumb-b="http://lightspeed.goanimate.com/static/425/go/img/script2cartoon/anime/step02/thumbs/bg06_b.jpg">
								<img
									src="http://web.archive.org/web/20130729180419im_/http://lightspeed.goanimate.com/static/425/go/img/script2cartoon/anime/step01/bg06.jpg">
							</div>
							<div class="item" data-tid="0NcWpwm4tUa4"
								data-thumb="http://fs.goanimate.com/files/thumbnails/movie/1426/1309426/11896606.jpg"
								title="At the Store"
								data-desc="It's shopping time! Now what should these characters buy?"
								data-char-thumb-a="http://lightspeed.goanimate.com/static/425/go/img/script2cartoon/anime/step02/thumbs/bg04_a.jpg"
								data-char-thumb-b="http://lightspeed.goanimate.com/static/425/go/img/script2cartoon/anime/step02/thumbs/bg04_b.jpg">
								<img
									src="http://web.archive.org/web/20130729180419im_/http://lightspeed.goanimate.com/static/425/go/img/script2cartoon/anime/step01/bg04.jpg">
							</div>
							<div class="item" data-tid="0HwhyGQGEdNA"
								data-thumb="http://fs.goanimate.com/files/thumbnails/movie/1426/1309426/11896288.jpg"
								title="Train Encounter" data-desc="Chit-chatting on the morning commute."
								data-char-thumb-a="http://lightspeed.goanimate.com/static/425/go/img/script2cartoon/anime/step02/thumbs/bg01_a.jpg"
								data-char-thumb-b="http://lightspeed.goanimate.com/static/425/go/img/script2cartoon/anime/step02/thumbs/bg01_b.jpg"
								data-plus="true">
								<img
									src="http://web.archive.org/web/20130729180419im_/http://lightspeed.goanimate.com/static/425/go/img/script2cartoon/anime/step01/bg01.jpg">
								<div class="plus-label">GoPlus</div>
							</div>
							<div class="item" data-tid="0YO43B8V7exs"
								data-thumb="http://fs.goanimate.com/files/thumbnails/movie/1426/1309426/11964086.jpg"
								title="In Between Classes"
								data-desc="Waiting for the teacher to arrive in the classroom."
								data-char-thumb-a="http://lightspeed.goanimate.com/static/425/go/img/script2cartoon/anime/step02/thumbs/bg02_a.jpg"
								data-char-thumb-b="http://lightspeed.goanimate.com/static/425/go/img/script2cartoon/anime/step02/thumbs/bg02_b.jpg"
								data-plus="true">
								<img
									src="http://web.archive.org/web/20130729180419im_/http://lightspeed.goanimate.com/static/425/go/img/script2cartoon/anime/step01/bg02.jpg">
								<div class="plus-label">GoPlus</div>
							</div>
							<div class="item" data-tid="0893ePMQhYl0"
								data-thumb="http://fs.goanimate.com/files/thumbnails/movie/1426/1309426/11897091.jpg"
								title="A Run in the Park"
								data-desc="Taking a break at the vending machine on a hot day."
								data-char-thumb-a="http://lightspeed.goanimate.com/static/425/go/img/script2cartoon/anime/step02/thumbs/bg05_a.jpg"
								data-char-thumb-b="http://lightspeed.goanimate.com/static/425/go/img/script2cartoon/anime/step02/thumbs/bg05_b.jpg"
								data-plus="true">
								<img
									src="http://web.archive.org/web/20130729180419im_/http://lightspeed.goanimate.com/static/425/go/img/script2cartoon/anime/step01/bg05.jpg">
								<div class="plus-label">GoPlus</div>
							</div>
							<div class="item" data-tid="0LpjsaWbQ0es"
								data-thumb="http://fs.goanimate.com/files/thumbnails/movie/1426/1309426/11897109.jpg"
								title="Surprised Visit" data-desc="Spending a nice evening at home with a friend"
								data-char-thumb-a="http://lightspeed.goanimate.com/static/425/go/img/script2cartoon/anime/step02/thumbs/bg07_a.jpg"
								data-char-thumb-b="http://lightspeed.goanimate.com/static/425/go/img/script2cartoon/anime/step02/thumbs/bg07_b.jpg"
								data-plus="true">
								<img
									src="http://web.archive.org/web/20130729180419im_/http://lightspeed.goanimate.com/static/425/go/img/script2cartoon/anime/step01/bg07.jpg">
								<div class="plus-label">GoPlus</div>
							</div>
						</div>
						<a class="select_button next" href="#">&gt;</a>
					</div>
				</div>

				<a class="btn_next" href="#step2" onclick="stepTo('#step2'); return false;">Next</a>
				<div class="upgrade">
					<a href="javascript:popUpgrade();" class="buttonbase buttonblue dark"
						style="margin:0 auto;float:none;display:block;">
						<div class="buttontitle">Upgrade Now</div>
					</a>
				</div>
			</div>

			<div id="seperator1"></div>

			<div id="step2" class="section">
				<h2>2. Select Your Actors</h2>

				<a class="previous_step" href="#step1" onclick="stepTo('#step1'); return false;">Back</a>

				<div class="inside">
					<div class="character">
						<div id="character1_title" class="title"><img
								src="http://web.archive.org/web/20130729180419im_/http://lightspeed.goanimate.com/static/425/go/img/script2cartoon/anime/step02/thumbs/bg06_a.jpg"
								alt=""></div>
						<div id="character1" class="item_selector character_selector">
							<a class="select_button prev" href="#">&lt;</a>
							<div class="items">
								<div class="item selected" data-cid="07FjrmBAVTo7TEEJSpuZAGA" data-name=""
									data-gender="F" data-voice=""
									data-thumb="http://fs.goanimate.com/files/thumbnails/cchead/1426/1309426/127373443.png">
									<span><img
											src="http://web.archive.org/web/20130729180419im_/http://fs.goanimate.com/files/thumbnails/ccthumb/1426/1309426/127373443.png"
											alt=""></span></div>
								<div class="item" data-cid="0m2yRXy2xAS9rwxStLYRCSg" data-name="" data-gender="M"
									data-voice=""
									data-thumb="http://fs.goanimate.com/files/thumbnails/cchead/1426/1309426/127370318.png">
									<span><img
											src="http://web.archive.org/web/20130729180419im_/http://fs.goanimate.com/files/thumbnails/ccthumb/1426/1309426/127370318.png"
											alt=""></span></div>
								<div class="item" data-cid="0rF69sdOJWknZBgS1od14mg" data-name="" data-gender="F"
									data-voice=""
									data-thumb="http://fs.goanimate.com/files/thumbnails/cchead/1426/1309426/127373466.png">
									<span><img
											src="http://web.archive.org/web/20130729180419im_/http://fs.goanimate.com/files/thumbnails/ccthumb/1426/1309426/127373466.png"
											alt=""></span></div>
								<div class="item" data-cid="0FpQxWmYgFDwiuQ0JDOFAuw" data-name="" data-gender="M"
									data-voice=""
									data-thumb="http://fs.goanimate.com/files/thumbnails/cchead/1426/1309426/127373639.png">
									<span><img
											src="http://web.archive.org/web/20130729180419im_/http://fs.goanimate.com/files/thumbnails/ccthumb/1426/1309426/127373639.png"
											alt=""></span></div>
								<div class="item" data-cid="0wJwMRvuKFVotNdXDmM8OWQ" data-name="" data-gender="F"
									data-voice=""
									data-thumb="http://fs.goanimate.com/files/thumbnails/cchead/1426/1309426/127373671.png"
									data-plus="true"><span><img
											src="http://web.archive.org/web/20130729180419im_/http://fs.goanimate.com/files/thumbnails/ccthumb/1426/1309426/127373671.png"
											alt=""></span>
									<div class="plus-character"><strong>GoPlus Character</strong> Upgrade to GoPlus to
										go to the next step. <div class="plus-label">GoPlus</div>
									</div>
								</div>

								<div class="item" data-cid="0jkjdlYGtns-ybOqn9az0aQ" data-name="" data-gender="M"
									data-voice=""
									data-thumb="http://fs.goanimate.com/files/thumbnails/cchead/1426/1309426/127373657.png"
									data-plus="true"><span><img
											src="http://web.archive.org/web/20130729180419im_/http://fs.goanimate.com/files/thumbnails/ccthumb/1426/1309426/127373657.png"
											alt=""></span>
									<div class="plus-character"><strong>GoPlus Character</strong> Upgrade to GoPlus to
										go to the next step. <div class="plus-label">GoPlus</div>
									</div>
								</div>
								<div class="item" data-cid="0bE8JVAn1pGXGbLd1u6tbAw" data-name="" data-gender="F"
									data-voice=""
									data-thumb="http://fs.goanimate.com/files/thumbnails/cchead/1426/1309426/127373845.png"
									data-plus="true"><span><img
											src="http://web.archive.org/web/20130729180419im_/http://fs.goanimate.com/files/thumbnails/ccthumb/1426/1309426/127373845.png"
											alt=""></span>
									<div class="plus-character"><strong>GoPlus Character</strong> Upgrade to GoPlus to
										go to the next step. <div class="plus-label">GoPlus</div>
									</div>
								</div>
								<div class="item" data-cid="0Eni3xfXWKC0iuQ0JDOFAuw" data-name="" data-gender="M"
									data-voice=""
									data-thumb="http://fs.goanimate.com/files/thumbnails/cchead/1426/1309426/127373879.png"
									data-plus="true"><span><img
											src="http://web.archive.org/web/20130729180419im_/http://fs.goanimate.com/files/thumbnails/ccthumb/1426/1309426/127373879.png"
											alt=""></span>
									<div class="plus-character"><strong>GoPlus Character</strong> Upgrade to GoPlus to
										go to the next step. <div class="plus-label">GoPlus</div>
									</div>
								</div>
								<div class="item" data-cid="0eQj752y4HQi5Z_k8TyB-CA" data-name="" data-gender="F"
									data-voice=""
									data-thumb="http://fs.goanimate.com/files/thumbnails/cchead/1426/1309426/127373932.png"
									data-plus="true"><span><img
											src="http://web.archive.org/web/20130729180419im_/http://fs.goanimate.com/files/thumbnails/ccthumb/1426/1309426/127373932.png"
											alt=""></span>
									<div class="plus-character"><strong>GoPlus Character</strong> Upgrade to GoPlus to
										go to the next step. <div class="plus-label">GoPlus</div>
									</div>
								</div>
								<div class="item" data-cid="0lH5nSBsNuPYtNdXDmM8OWQ" data-name="" data-gender="M"
									data-voice=""
									data-thumb="http://fs.goanimate.com/files/thumbnails/cchead/1426/1309426/127373911.png"
									data-plus="true"><span><img
											src="http://web.archive.org/web/20130729180419im_/http://fs.goanimate.com/files/thumbnails/ccthumb/1426/1309426/127373911.png"
											alt=""></span>
									<div class="plus-character"><strong>GoPlus Character</strong> Upgrade to GoPlus to
										go to the next step. <div class="plus-label">GoPlus</div>
									</div>
								</div>
							</div>
							<a class="select_button next" href="#">&gt;</a>
						</div>
						<div class="name"></div>
						<div class="customlink">
							<div class="ccloading">Loading your characters ...</div>
							<a class="isplus" href="javascript:GoLite.showSelectCCOverlay(0)">Use your own character</a>
							<a class="isbasic" href="javascript:customCharSignup()">Use your own character (GoPlus
								only)</a>
						</div>
					</div>

					<div class="character">
						<div id="character2_title" class="title"><img
								src="http://web.archive.org/web/20130729180419im_/http://lightspeed.goanimate.com/static/425/go/img/script2cartoon/anime/step02/thumbs/bg06_b.jpg"
								alt=""></div>
						<div id="character2" class="item_selector character_selector">
							<a class="select_button prev" href="#">&lt;</a>
							<div class="items">
								<div class="item" data-cid="07FjrmBAVTo7TEEJSpuZAGA" data-name="" data-gender="F"
									data-voice=""
									data-thumb="http://fs.goanimate.com/files/thumbnails/cchead/1426/1309426/127373443.png">
									<span><img
											src="http://web.archive.org/web/20130729180419im_/http://fs.goanimate.com/files/thumbnails/ccthumb/1426/1309426/127373443.png"
											alt=""></span></div>
								<div class="item selected" data-cid="0m2yRXy2xAS9rwxStLYRCSg" data-name=""
									data-gender="M" data-voice=""
									data-thumb="http://fs.goanimate.com/files/thumbnails/cchead/1426/1309426/127370318.png">
									<span><img
											src="http://web.archive.org/web/20130729180419im_/http://fs.goanimate.com/files/thumbnails/ccthumb/1426/1309426/127370318.png"
											alt=""></span></div>
								<div class="item" data-cid="0rF69sdOJWknZBgS1od14mg" data-name="" data-gender="F"
									data-voice=""
									data-thumb="http://fs.goanimate.com/files/thumbnails/cchead/1426/1309426/127373466.png">
									<span><img
											src="http://web.archive.org/web/20130729180419im_/http://fs.goanimate.com/files/thumbnails/ccthumb/1426/1309426/127373466.png"
											alt=""></span></div>
								<div class="item" data-cid="0FpQxWmYgFDwiuQ0JDOFAuw" data-name="" data-gender="M"
									data-voice=""
									data-thumb="http://fs.goanimate.com/files/thumbnails/cchead/1426/1309426/127373639.png">
									<span><img
											src="http://web.archive.org/web/20130729180419im_/http://fs.goanimate.com/files/thumbnails/ccthumb/1426/1309426/127373639.png"
											alt=""></span></div>
								<div class="item" data-cid="0wJwMRvuKFVotNdXDmM8OWQ" data-name="" data-gender="F"
									data-voice=""
									data-thumb="http://fs.goanimate.com/files/thumbnails/cchead/1426/1309426/127373671.png"
									data-plus="true"><span><img
											src="http://web.archive.org/web/20130729180419im_/http://fs.goanimate.com/files/thumbnails/ccthumb/1426/1309426/127373671.png"
											alt=""></span>
									<div class="plus-character"><strong>GoPlus Character</strong> Upgrade to GoPlus to
										go to the next step. <div class="plus-label">GoPlus</div>
									</div>
								</div>

								<div class="item" data-cid="0jkjdlYGtns-ybOqn9az0aQ" data-name="" data-gender="M"
									data-voice=""
									data-thumb="http://fs.goanimate.com/files/thumbnails/cchead/1426/1309426/127373657.png"
									data-plus="true"><span><img
											src="http://web.archive.org/web/20130729180419im_/http://fs.goanimate.com/files/thumbnails/ccthumb/1426/1309426/127373657.png"
											alt=""></span>
									<div class="plus-character"><strong>GoPlus Character</strong> Upgrade to GoPlus to
										go to the next step. <div class="plus-label">GoPlus</div>
									</div>
								</div>
								<div class="item" data-cid="0bE8JVAn1pGXGbLd1u6tbAw" data-name="" data-gender="F"
									data-voice=""
									data-thumb="http://fs.goanimate.com/files/thumbnails/cchead/1426/1309426/127373845.png"
									data-plus="true"><span><img
											src="http://web.archive.org/web/20130729180419im_/http://fs.goanimate.com/files/thumbnails/ccthumb/1426/1309426/127373845.png"
											alt=""></span>
									<div class="plus-character"><strong>GoPlus Character</strong> Upgrade to GoPlus to
										go to the next step. <div class="plus-label">GoPlus</div>
									</div>
								</div>
								<div class="item" data-cid="0Eni3xfXWKC0iuQ0JDOFAuw" data-name="" data-gender="M"
									data-voice=""
									data-thumb="http://fs.goanimate.com/files/thumbnails/cchead/1426/1309426/127373879.png"
									data-plus="true"><span><img
											src="http://web.archive.org/web/20130729180419im_/http://fs.goanimate.com/files/thumbnails/ccthumb/1426/1309426/127373879.png"
											alt=""></span>
									<div class="plus-character"><strong>GoPlus Character</strong> Upgrade to GoPlus to
										go to the next step. <div class="plus-label">GoPlus</div>
									</div>
								</div>
								<div class="item" data-cid="0eQj752y4HQi5Z_k8TyB-CA" data-name="" data-gender="F"
									data-voice=""
									data-thumb="http://fs.goanimate.com/files/thumbnails/cchead/1426/1309426/127373932.png"
									data-plus="true"><span><img
											src="http://web.archive.org/web/20130729180419im_/http://fs.goanimate.com/files/thumbnails/ccthumb/1426/1309426/127373932.png"
											alt=""></span>
									<div class="plus-character"><strong>GoPlus Character</strong> Upgrade to GoPlus to
										go to the next step. <div class="plus-label">GoPlus</div>
									</div>
								</div>
								<div class="item" data-cid="0lH5nSBsNuPYtNdXDmM8OWQ" data-name="" data-gender="M"
									data-voice=""
									data-thumb="http://fs.goanimate.com/files/thumbnails/cchead/1426/1309426/127373911.png"
									data-plus="true"><span><img
											src="http://web.archive.org/web/20130729180419im_/http://fs.goanimate.com/files/thumbnails/ccthumb/1426/1309426/127373911.png"
											alt=""></span>
									<div class="plus-character"><strong>GoPlus Character</strong> Upgrade to GoPlus to
										go to the next step. <div class="plus-label">GoPlus</div>
									</div>
								</div>
							</div>
							<a class="select_button next" href="#">&gt;</a>
						</div>
						<div class="name"></div>
						<div class="customlink">
							<div class="ccloading">Loading your characters ...</div>
							<a class="isplus" href="javascript:GoLite.showSelectCCOverlay(1)">Use your own character</a>
							<a class="isbasic" href="javascript:customCharSignup()">Use your own character (GoPlus
								only)</a>
						</div>
					</div>
				</div>

				<div class="snippets" style="display: none">
					<strong class="plus-char-txt">GoPlus Character</strong>
					<div class="plus-cover">
						<div><strong>GoPlus Template</strong> Upgrade to GoPlus to go to the next step.</div>
					</div>
					<div class="item" data-cid="" data-name="" data-voice="" data-thumb=""><span><img alt=""></span>
					</div>
					<div class="selectccoverlay lightbox" style="display:none">
						<div class="lightbox_wrapper">
							<h2>1. Select your character:</h2>

							<style type="text/css">
								.selectccoverlay h2 {
									margin-left: 66px;
									margin-bottom: 0em;
								}

								.selectccoverlay .ccbrowsercontainer {
									width: 545px;
									height: 210px;
									padding: 5px 0px;
									margin-left: 33px;
								}

								.selectccoverlay .voiceselectorwidget {
									margin-left: 92px;
								}

								.selectccoverlay .ccbrowsercontainer .leftarrow,
								.rightarrow {
									position: relative;
									margin-left: auto;
									margin-right: auto;
									top: 72px;
									width: 11px;
									height: 28px;
								}

								.selectccoverlay .ccbrowsercontainer .leftarrow {
									background: url('/web/20130729180419im_/http://goanimate.com/static/go/img/script2cartoon/voiceselectionwidget/btn_arrow_l.png') no-repeat 0px 0px;
									cursor: pointer;
								}

								.selectccoverlay .ccbrowsercontainer .disabled .leftarrow {
									background: none;
									cursor: default;
								}

								.selectccoverlay .ccbrowsercontainer .disabled .leftarrow:hover {
									background: none;
									cursor: default;
								}

								.selectccoverlay .ccbrowsercontainer .leftarrow:hover {
									background: url('/web/20130729180419im_/http://goanimate.com/static/go/img/script2cartoon/voiceselectionwidget/btn_arrow_l.png') no-repeat 0px -28px;
								}

								.selectccoverlay .ccbrowsercontainer .rightarrow {
									background: url('/web/20130729180419im_/http://goanimate.com/static/go/img/script2cartoon/voiceselectionwidget/btn_arrow_r.png') no-repeat 0px 0px;
									cursor: pointer;
								}

								.selectccoverlay .ccbrowsercontainer .disabled .rightarrow {
									background: none;
									cursor: default;
								}

								.selectccoverlay .ccbrowsercontainer .disabled .rightarrow:hover {
									background: none;
									cursor: default;
								}

								.selectccoverlay .ccbrowsercontainer .rightarrow:hover {
									background: url('/web/20130729180419im_/http://goanimate.com/static/go/img/script2cartoon/voiceselectionwidget/btn_arrow_r.png') no-repeat 0px -28px;
								}

								.selectccoverlay .ccbrowsercontainer .leftarrowcontainer {
									float: left;
									height: 175px;
									width: 25px;
									margin-right: 10px;
								}

								.selectccoverlay .ccbrowsercontainer .rightarrowcontainer {
									float: right;
									height: 175px;
									width: 25px;
									margin-left: 5px;
								}

								.selectccoverlay .ccbrowsercontainer .selectedcc {
									border-width: 3px;
									border-style: solid;
									border-color: #999999 !important;
								}

								.selectccoverlay .ccbrowsercontainer .cc {
									overflow: hidden;
									position: relative;
									border-radius: 5px;
									-moz-border-radius: 5px;
									-webkit-border-radius: 5px;
									background-color: #dddddd;
									width: 85px;
									height: 85px;
									float: left;
									margin-right: 5px;
									margin-bottom: 5px;
									border-width: 3px;
									border-color: #dddddd;
									border-style: solid;
								}

								.selectccoverlay .ccbrowsercontainer .cc.enabled {
									cursor: pointer;
								}

								.selectccoverlay .ccbrowsercontainer .cc.enabled:hover {
									background-color: #eeeeee;
									border-color: #eeeeee;
								}

								.selectccoverlay .ccbrowsercontainer .cc img {
									position: absolute;
								}

								.selectccoverlay .pagenumdisplay {
									text-align: center;
									margin-bottom: 1em;
									clear: both;
									font-size: 14px;
									font-weight: bold;
									color: #aaaaaa;
								}

								.selectccoverlay a.bottomcancel {
									float: left;
									text-align: center;
									margin: 30px auto;
									display: block;
									color: #666666;
									font-size: 16px;
									font-weight: bold;
									text-decoration: none;
								}

								.selectccoverlay a.bottomcancel:hover {
									color: #777777;
									text-decoration: none;
								}

							</style>

							<div class="ccbrowsercontainer">
								<div class="leftarrowcontainer">
									<div class="leftarrow"></div>
								</div>
								<div class="rightarrowcontainer">
									<div class="rightarrow"></div>
								</div>
								<div class="cc"></div>
								<div class="cc"></div>
								<div class="cc"></div>
								<div class="cc"></div>
								<div class="cc"></div>
								<div class="cc"></div>
								<div class="cc"></div>
								<div class="cc"></div>
								<div class="cc"></div>
								<div class="cc"></div>
								<div class="pagenumdisplay"></div>
							</div>

							<h2>2. Select a voice for your character:</h2>
							<script type="text/javascript">
								var VoiceCatalog = (function () {
									var lang_model = {
										"en": {
											"desc": "English",
											"options": [{
												"id": "brian",
												"desc": "Brian",
												"vendor": "Ivona",
												"sex": "M",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_brian.mp3",
												"lang": "en",
												"country": "GB",
												"plus": false
											}, {
												"id": "oc_bridget",
												"desc": "Bridget",
												"vendor": "Oddcast",
												"sex": "F",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_oc_bridget.mp3",
												"lang": "en",
												"country": "GB",
												"plus": false
											}, {
												"id": "oc_catherine",
												"desc": "Catherine",
												"vendor": "Oddcast",
												"sex": "F",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_oc_catherine.mp3",
												"lang": "en",
												"country": "GB",
												"plus": false
											}, {
												"id": "oc_simon",
												"desc": "Simon",
												"vendor": "Oddcast",
												"sex": "M",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_oc_simon.mp3",
												"lang": "en",
												"country": "GB",
												"plus": false
											}, {
												"id": "eric",
												"desc": "Eric",
												"vendor": "Ivona",
												"sex": "M",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_eric.mp3",
												"lang": "en",
												"country": "US",
												"plus": false
											}, {
												"id": "oc_julie",
												"desc": "Julie",
												"vendor": "Oddcast",
												"sex": "F",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_oc_julie.mp3",
												"lang": "en",
												"country": "US",
												"plus": false
											}, {
												"id": "oc_kate",
												"desc": "Kate",
												"vendor": "Oddcast",
												"sex": "F",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_oc_kate.mp3",
												"lang": "en",
												"country": "US",
												"plus": false
											}, {
												"id": "oc_paul",
												"desc": "Paul",
												"vendor": "Oddcast",
												"sex": "M",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_oc_paul.mp3",
												"lang": "en",
												"country": "US",
												"plus": false
											}, {
												"id": "salli",
												"desc": "Salli",
												"vendor": "Ivona",
												"sex": "F",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_salli.mp3",
												"lang": "en",
												"country": "US",
												"plus": false
											}, {
												"id": "oc_susan",
												"desc": "Susan",
												"vendor": "Oddcast",
												"sex": "F",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_oc_susan.mp3",
												"lang": "en",
												"country": "US",
												"plus": false
											}, {
												"id": "oc_alan",
												"desc": "Alan",
												"vendor": "Oddcast",
												"sex": "M",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_oc_alan.mp3",
												"lang": "en",
												"country": "AU",
												"plus": true
											}, {
												"id": "oc_grace",
												"desc": "Grace",
												"vendor": "Oddcast",
												"sex": "F",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_oc_grace.mp3",
												"lang": "en",
												"country": "AU",
												"plus": true
											}, {
												"id": "amy",
												"desc": "Amy",
												"vendor": "Ivona",
												"sex": "F",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_amy.mp3",
												"lang": "en",
												"country": "GB",
												"plus": true
											}, {
												"id": "oc_elizabeth",
												"desc": "Elizabeth",
												"vendor": "Oddcast",
												"sex": "F",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_oc_elizabeth.mp3",
												"lang": "en",
												"country": "GB",
												"plus": true
											}, {
												"id": "emma",
												"desc": "Emma",
												"vendor": "Ivona",
												"sex": "F",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_emma.mp3",
												"lang": "en",
												"country": "GB",
												"plus": true
											}, {
												"id": "oc_veena",
												"desc": "Veena",
												"vendor": "Oddcast",
												"sex": "F",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_oc_veena.mp3",
												"lang": "en",
												"country": "IN",
												"plus": true
											}, {
												"id": "oc_allison",
												"desc": "Allison",
												"vendor": "Oddcast",
												"sex": "F",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_oc_allison.mp3",
												"lang": "en",
												"country": "US",
												"plus": true
											}, {
												"id": "oc_dave",
												"desc": "Dave",
												"vendor": "Oddcast",
												"sex": "M",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_oc_dave.mp3",
												"lang": "en",
												"country": "US",
												"plus": true
											}, {
												"id": "ivy",
												"desc": "Ivy",
												"vendor": "Ivona",
												"sex": "F",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_ivy.mp3",
												"lang": "en",
												"country": "US",
												"plus": true
											}, {
												"id": "jennifer",
												"desc": "Jennifer",
												"vendor": "Ivona",
												"sex": "F",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_jennifer.mp3",
												"lang": "en",
												"country": "US",
												"plus": true
											}, {
												"id": "joey",
												"desc": "Joey",
												"vendor": "Ivona",
												"sex": "M",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_joey.mp3",
												"lang": "en",
												"country": "US",
												"plus": true
											}, {
												"id": "kendra",
												"desc": "Kendra",
												"vendor": "Ivona",
												"sex": "F",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_kendra.mp3",
												"lang": "en",
												"country": "US",
												"plus": true
											}, {
												"id": "kimberly",
												"desc": "Kimberly",
												"vendor": "Ivona",
												"sex": "F",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_kimberly.mp3",
												"lang": "en",
												"country": "US",
												"plus": true
											}, {
												"id": "oc_steven",
												"desc": "Steven",
												"vendor": "Oddcast",
												"sex": "M",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_oc_steven.mp3",
												"lang": "en",
												"country": "US",
												"plus": true
											}]
										},
										"es": {
											"desc": "Spanish",
											"options": [{
												"id": "oc_carmen",
												"desc": "Carmen",
												"vendor": "Oddcast",
												"sex": "F",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_oc_carmen.mp3",
												"lang": "es",
												"country": "ES",
												"plus": false
											}, {
												"id": "oc_jorge",
												"desc": "Jorge",
												"vendor": "Oddcast",
												"sex": "M",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_oc_jorge.mp3",
												"lang": "es",
												"country": "ES",
												"plus": false
											}, {
												"id": "oc_juan",
												"desc": "Juan",
												"vendor": "Oddcast",
												"sex": "M",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_oc_juan.mp3",
												"lang": "es",
												"country": "ES",
												"plus": false
											}, {
												"id": "oc_leonor",
												"desc": "Leonor",
												"vendor": "Oddcast",
												"sex": "F",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_oc_leonor.mp3",
												"lang": "es",
												"country": "ES",
												"plus": false
											}, {
												"id": "oc_diego",
												"desc": "Diego",
												"vendor": "Oddcast",
												"sex": "M",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_oc_diego.mp3",
												"lang": "es",
												"country": "AR",
												"plus": true
											}, {
												"id": "oc_francisca",
												"desc": "Francisca",
												"vendor": "Oddcast",
												"sex": "F",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_oc_francisca.mp3",
												"lang": "es",
												"country": "CL",
												"plus": true
											}, {
												"id": "oc_violeta",
												"desc": "Violeta",
												"vendor": "Oddcast",
												"sex": "F",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_oc_violeta.mp3",
												"lang": "es",
												"country": "ES",
												"plus": true
											}, {
												"id": "oc_esperanza",
												"desc": "Esperanza",
												"vendor": "Oddcast",
												"sex": "F",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_oc_esperanza.mp3",
												"lang": "es",
												"country": "MX",
												"plus": true
											}, {
												"id": "oc_carlos",
												"desc": "Carlos",
												"vendor": "Oddcast",
												"sex": "M",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_oc_carlos.mp3",
												"lang": "es",
												"country": "US",
												"plus": true
											}, {
												"id": "miguel",
												"desc": "Miguel",
												"vendor": "Ivona",
												"sex": "M",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_miguel.mp3",
												"lang": "es",
												"country": "US",
												"plus": true
											}, {
												"id": "penelope",
												"desc": "Pen\u00e9lope",
												"vendor": "Ivona",
												"sex": "F",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_penelope.mp3",
												"lang": "es",
												"country": "US",
												"plus": true
											}, {
												"id": "oc_soledad",
												"desc": "Soledad",
												"vendor": "Oddcast",
												"sex": "F",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_oc_soledad.mp3",
												"lang": "es",
												"country": "US",
												"plus": true
											}, {
												"id": "oc_ximena",
												"desc": "Ximena",
												"vendor": "Oddcast",
												"sex": "F",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_oc_ximena.mp3",
												"lang": "es",
												"country": "US",
												"plus": true
											}]
										},
										"pt": {
											"desc": "Portuguese",
											"options": [{
												"id": "oc_felipe",
												"desc": "Felipe",
												"vendor": "Oddcast",
												"sex": "M",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_oc_felipe.mp3",
												"lang": "pt",
												"country": "BR",
												"plus": false
											}, {
												"id": "oc_gabriela",
												"desc": "Gabriela",
												"vendor": "Oddcast",
												"sex": "F",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_oc_gabriela.mp3",
												"lang": "pt",
												"country": "BR",
												"plus": false
											}, {
												"id": "oc_amalia",
												"desc": "Amalia",
												"vendor": "Oddcast",
												"sex": "F",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_oc_amalia.mp3",
												"lang": "pt",
												"country": "PT",
												"plus": false
											}, {
												"id": "oc_eusebio",
												"desc": "Eusebio",
												"vendor": "Oddcast",
												"sex": "M",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_oc_eusebio.mp3",
												"lang": "pt",
												"country": "PT",
												"plus": false
											}, {
												"id": "oc_fernanda",
												"desc": "Fernanda",
												"vendor": "Oddcast",
												"sex": "F",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_oc_fernanda.mp3",
												"lang": "pt",
												"country": "BR",
												"plus": true
											}]
										},
										"default": {
											"desc": "More",
											"options": [{
												"id": "oc_empar",
												"desc": "Empar (Catalan)",
												"vendor": "Oddcast",
												"sex": "F",
												"demo": "",
												"lang": "ca",
												"country": false,
												"plus": false
											}, {
												"id": "oc_jordi",
												"desc": "Jordi (Catalan)",
												"vendor": "Oddcast",
												"sex": "M",
												"demo": "",
												"lang": "ca",
												"country": false,
												"plus": false
											}, {
												"id": "oc_montserrat",
												"desc": "Montserrat (Catalan)",
												"vendor": "Oddcast",
												"sex": "F",
												"demo": "",
												"lang": "ca",
												"country": false,
												"plus": false
											}, {
												"id": "oc_ludoviko",
												"desc": "Ludoviko (Esperanto)",
												"vendor": "Oddcast",
												"sex": "M",
												"demo": "",
												"lang": "eo",
												"country": false,
												"plus": false
											}, {
												"id": "oc_carmela",
												"desc": "Carmela (Galician)",
												"vendor": "Oddcast",
												"sex": "F",
												"demo": "",
												"lang": "gl",
												"country": false,
												"plus": false
											}, {
												"id": "oc_henrik",
												"desc": "Henrik",
												"vendor": "Oddcast",
												"sex": "M",
												"demo": "",
												"lang": "no",
												"country": false,
												"plus": false
											}, {
												"id": "oc_vilde",
												"desc": "Vilde",
												"vendor": "Oddcast",
												"sex": "F",
												"demo": "",
												"lang": "no",
												"country": false,
												"plus": false
											}, {
												"id": "oc_hui",
												"desc": "Hui (Mandarin)",
												"vendor": "Oddcast",
												"sex": "F",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_oc_hui.mp3",
												"lang": "zh",
												"country": "CN",
												"plus": false
											}, {
												"id": "oc_liang",
												"desc": "Liang (Mandarin)",
												"vendor": "Oddcast",
												"sex": "M",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_oc_liang.mp3",
												"lang": "zh",
												"country": "CN",
												"plus": false
											}, {
												"id": "oc_lisheng",
												"desc": "Lisheng (Mandarin)",
												"vendor": "Oddcast",
												"sex": "F",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_oc_lisheng.mp3",
												"lang": "zh",
												"country": "CN",
												"plus": false
											}, {
												"id": "oc_katrin",
												"desc": "Katrin",
												"vendor": "Oddcast",
												"sex": "F",
												"demo": "",
												"lang": "de",
												"country": "DE",
												"plus": false
											}, {
												"id": "oc_stefan",
												"desc": "Stefan",
												"vendor": "Oddcast",
												"sex": "M",
												"demo": "",
												"lang": "de",
												"country": "DE",
												"plus": false
											}, {
												"id": "oc_frida",
												"desc": "Frida",
												"vendor": "Oddcast",
												"sex": "F",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_oc_frida.mp3",
												"lang": "da",
												"country": "DK",
												"plus": false
											}, {
												"id": "oc_magnus",
												"desc": "Magnus",
												"vendor": "Oddcast",
												"sex": "M",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_oc_magnus.mp3",
												"lang": "da",
												"country": "DK",
												"plus": false
											}, {
												"id": "oc_marko",
												"desc": "Marko",
												"vendor": "Oddcast",
												"sex": "M",
												"demo": "",
												"lang": "fi",
												"country": "FI",
												"plus": false
											}, {
												"id": "oc_milla",
												"desc": "Milla",
												"vendor": "Oddcast",
												"sex": "F",
												"demo": "",
												"lang": "fi",
												"country": "FI",
												"plus": false
											}, {
												"id": "oc_bernard",
												"desc": "Bernard",
												"vendor": "Oddcast",
												"sex": "M",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_oc_bernard.mp3",
												"lang": "fr",
												"country": "FR",
												"plus": false
											}, {
												"id": "oc_florence",
												"desc": "Florence",
												"vendor": "Oddcast",
												"sex": "F",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_oc_florence.mp3",
												"lang": "fr",
												"country": "FR",
												"plus": false
											}, {
												"id": "oc_afroditi",
												"desc": "Afroditi",
												"vendor": "Oddcast",
												"sex": "F",
												"demo": "",
												"lang": "el",
												"country": "GR",
												"plus": false
											}, {
												"id": "oc_nikos",
												"desc": "Nikos",
												"vendor": "Oddcast",
												"sex": "M",
												"demo": "",
												"lang": "el",
												"country": "GR",
												"plus": false
											}, {
												"id": "oc_giulia",
												"desc": "Giulia",
												"vendor": "Oddcast",
												"sex": "F",
												"demo": "",
												"lang": "it",
												"country": "IT",
												"plus": false
											}, {
												"id": "oc_luca",
												"desc": "Luca",
												"vendor": "Oddcast",
												"sex": "M",
												"demo": "",
												"lang": "it",
												"country": "IT",
												"plus": false
											}, {
												"id": "oc_marcello",
												"desc": "Marcello",
												"vendor": "Oddcast",
												"sex": "M",
												"demo": "",
												"lang": "it",
												"country": "IT",
												"plus": false
											}, {
												"id": "oc_paola",
												"desc": "Paola",
												"vendor": "Oddcast",
												"sex": "F",
												"demo": "",
												"lang": "it",
												"country": "IT",
												"plus": false
											}, {
												"id": "oc_misaki",
												"desc": "Misaki",
												"vendor": "Oddcast",
												"sex": "F",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_oc_misaki.mp3",
												"lang": "ja",
												"country": "JP",
												"plus": false
											}, {
												"id": "oc_show",
												"desc": "Show",
												"vendor": "Oddcast",
												"sex": "M",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_oc_show.mp3",
												"lang": "ja",
												"country": "JP",
												"plus": false
											}, {
												"id": "oc_junwoo",
												"desc": "Junwoo",
												"vendor": "Oddcast",
												"sex": "M",
												"demo": "",
												"lang": "ko",
												"country": "KR",
												"plus": false
											}, {
												"id": "oc_yumi",
												"desc": "Yumi",
												"vendor": "Oddcast",
												"sex": "F",
												"demo": "",
												"lang": "ko",
												"country": "KR",
												"plus": false
											}, {
												"id": "oc_saskia",
												"desc": "Saskia",
												"vendor": "Oddcast",
												"sex": "F",
												"demo": "",
												"lang": "nl",
												"country": "NL",
												"plus": false
											}, {
												"id": "oc_willem",
												"desc": "Willem",
												"vendor": "Oddcast",
												"sex": "M",
												"demo": "",
												"lang": "nl",
												"country": "NL",
												"plus": false
											}, {
												"id": "oc_krzysztof",
												"desc": "Krzysztof",
												"vendor": "Oddcast",
												"sex": "M",
												"demo": "",
												"lang": "pl",
												"country": "PL",
												"plus": false
											}, {
												"id": "oc_zosia",
												"desc": "Zosia",
												"vendor": "Oddcast",
												"sex": "F",
												"demo": "",
												"lang": "pl",
												"country": "PL",
												"plus": false
											}, {
												"id": "oc_ioana",
												"desc": "Ioana",
												"vendor": "Oddcast",
												"sex": "F",
												"demo": "",
												"lang": "ro",
												"country": "RO",
												"plus": false
											}, {
												"id": "oc_dmitri",
												"desc": "Dmitri",
												"vendor": "Oddcast",
												"sex": "M",
												"demo": "",
												"lang": "ru",
												"country": "RU",
												"plus": false
											}, {
												"id": "oc_olga",
												"desc": "Olga",
												"vendor": "Oddcast",
												"sex": "F",
												"demo": "",
												"lang": "ru",
												"country": "RU",
												"plus": false
											}, {
												"id": "oc_annika",
												"desc": "Annika",
												"vendor": "Oddcast",
												"sex": "F",
												"demo": "",
												"lang": "sv",
												"country": "SE",
												"plus": false
											}, {
												"id": "oc_sven",
												"desc": "Sven",
												"vendor": "Oddcast",
												"sex": "M",
												"demo": "",
												"lang": "sv",
												"country": "SE",
												"plus": false
											}, {
												"id": "oc_kerem",
												"desc": "Kerem",
												"vendor": "Oddcast",
												"sex": "M",
												"demo": "",
												"lang": "tr",
												"country": "TR",
												"plus": false
											}, {
												"id": "oc_selin",
												"desc": "Selin",
												"vendor": "Oddcast",
												"sex": "F",
												"demo": "",
												"lang": "tr",
												"country": "TR",
												"plus": false
											}, {
												"id": "oc_zeynep",
												"desc": "Zeynep",
												"vendor": "Oddcast",
												"sex": "F",
												"demo": "",
												"lang": "tr",
												"country": "TR",
												"plus": false
											}, {
												"id": "oc_charlotte",
												"desc": "Charlotte (French)",
												"vendor": "Oddcast",
												"sex": "F",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_oc_charlotte.mp3",
												"lang": "fr",
												"country": "CA",
												"plus": true
											}, {
												"id": "oc_olivier",
												"desc": "Olivier (French)",
												"vendor": "Oddcast",
												"sex": "M",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_oc_olivier.mp3",
												"lang": "fr",
												"country": "CA",
												"plus": true
											}, {
												"id": "oc_lily",
												"desc": "Lily (Mandarin)",
												"vendor": "Oddcast",
												"sex": "F",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_oc_lily.mp3",
												"lang": "zh",
												"country": "CN",
												"plus": true
											}, {
												"id": "oc_linlin",
												"desc": "Linlin (Mandarin)",
												"vendor": "Oddcast",
												"sex": "F",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_oc_linlin.mp3",
												"lang": "zh",
												"country": "CN",
												"plus": true
											}, {
												"id": "mads",
												"desc": "Mads",
												"vendor": "Ivona",
												"sex": "M",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_mads.mp3",
												"lang": "da",
												"country": "DK",
												"plus": true
											}, {
												"id": "naja",
												"desc": "Naja",
												"vendor": "Ivona",
												"sex": "F",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_naja.mp3",
												"lang": "da",
												"country": "DK",
												"plus": true
											}, {
												"id": "oc_jolie",
												"desc": "Jolie",
												"vendor": "Oddcast",
												"sex": "F",
												"demo": "http:\/\/web.archive.org\/web\/20130729180419\/http:\/\/lightspeed.goanimate.com\/static\/425\/go\/voicedemo\/voicedemo_oc_jolie.mp3",
												"lang": "fr",
												"country": "FR",
												"plus": true
											}, {
												"id": "oc_federica",
												"desc": "Federica",
												"vendor": "Oddcast",
												"sex": "F",
												"demo": "",
												"lang": "it",
												"country": "IT",
												"plus": true
											}, {
												"id": "oc_matteo",
												"desc": "Matteo",
												"vendor": "Oddcast",
												"sex": "M",
												"demo": "",
												"lang": "it",
												"country": "IT",
												"plus": true
											}, {
												"id": "oc_roberto",
												"desc": "Roberto",
												"vendor": "Oddcast",
												"sex": "M",
												"demo": "",
												"lang": "it",
												"country": "IT",
												"plus": true
											}, {
												"id": "oc_silvana",
												"desc": "Silvana",
												"vendor": "Oddcast",
												"sex": "F",
												"demo": "",
												"lang": "it",
												"country": "IT",
												"plus": true
											}, {
												"id": "oc_valentina",
												"desc": "Valentina",
												"vendor": "Oddcast",
												"sex": "F",
												"demo": "",
												"lang": "it",
												"country": "IT",
												"plus": true
											}]
										}
									};

									return {
										getModel: function () {
											return lang_model;
										},
										lookupVoiceInfo: function (voice_id) {
											for (var langId in lang_model) {
												for (var i = 0; i < lang_model[langId]['options'].length; i++) {
													if (lang_model[langId]['options'][i].id == voice_id) {
														return {
															desc: lang_model[langId]['options'][i].desc,
															sex: lang_model[langId]['options'][i].sex,
															plus: lang_model[langId]['options'][i].plus,
															locale: {
																id: langId,
																lang: lang_model[langId]['options'][i].lang,
																country: lang_model[langId]['options'][i].country,
																desc: lang_model[langId].desc
															}
														};
													}
												}
											}
											return null;
										}
									};
								})();

							</script>
							<div class="voiceselectorwidget">
								<div class="voiceselector">
								</div>
								<!-- Templates -->
								<div class="templates" style="display: none">
									<!-- Voice list -->
									<div class="categorytab">
										<div class="flag" title="Language"></div>
										<div class="masteroptionscontainer">
											<div class="optionscontainer">
											</div>
										</div>
									</div>
									<!-- Voice option -->
									<div class="option">
										<div class="cflag"></div>
										<div class="sex"></div>
										<span class="label"></span>
										<span class="plus"> (Only for GoPlus)</span>
										<div class="playercontrol">
											<div class="button play"></div>
										</div>
									</div>
								</div>
								<div class="jplayer"></div>
							</div>
							<div style="overflow: auto; padding-left: 135px;">
								<a href="javascript:;" class="buttonbase buttonorange" id="voiceselect_confirm"
									style="margin:15px auto;float:left;display:block;">
									<div class="buttontitle">Confirm</div>
								</a>
								<a href="javascript:;" class="buttonbase buttonblue dark" id="voiceselect_plusupgrade"
									style="margin:15px auto;float:left;display:none;">
									<div class="buttontitle">Upgrade Now</div>
								</a>
								<a href="#" onclick="jQuery.unblockUI();return false;" class="bottomcancel">
									<div style="width: 180px">Cancel</div>
								</a>
							</div>
							<a onclick="jQuery.unblockUI()" class="close_btn"></a>
						</div>
					</div>
					<div class="selectvoiceoverlay lightbox" style="display:none">
						<div class="lightbox_wrapper">

							<style type="text/css">
								.selectvoiceoverlay {
									width: 550px;
								}

								.selectvoiceoverlay h2 {
									text-align: center;
									color: black;
									margin-bottom: 0px;
								}

								.selectvoiceoverlay h3 {
									text-align: center;
									color: #999999;
									font-style: oblique;
									margin-top: 0px;
									margin-bottom: 2em;
									font-weight: normal;
								}

								.selectvoiceoverlay .voiceselectorwidget {
									margin-left: auto;
									margin-right: auto;
								}

								.selectvoiceoverlay a.bottomcancel {
									float: left;
									text-align: center;
									margin: 30px auto;
									display: block;
									color: #666666;
									font-size: 16px;
									font-weight: bold;
									text-decoration: none;
								}

								.selectvoiceoverlay a.bottomcancel:hover {
									color: #777777;
									text-decoration: none;
								}

							</style>

							<h2>Select a voice for your character</h2>
							<h3>This change applies to the whole movie</h3>
							<script type="text/javascript">
							</script>
							<div class="voiceselectorwidget">
								<div class="voiceselector">
								</div>
								<!-- Templates -->
								<div class="templates" style="display: none">
									<!-- Voice list -->
									<div class="categorytab">
										<div class="flag" title="Language"></div>
										<div class="masteroptionscontainer">
											<div class="optionscontainer">
											</div>
										</div>
									</div>
									<!-- Voice option -->
									<div class="option">
										<div class="cflag"></div>
										<div class="sex"></div>
										<span class="label"></span>
										<span class="plus"> (Only for GoPlus)</span>
										<div class="playercontrol">
											<div class="button play"></div>
										</div>
									</div>
								</div>
								<div class="jplayer"></div>
							</div>
							<div style="overflow: auto; padding-left: 85px;">
								<a href="javascript:;" class="buttonbase buttonorange" id="voiceselectonly_confirm"
									style="margin:15px auto;float:left;display:block;">
									<div class="buttontitle">Confirm</div>
								</a>
								<a href="javascript:;" class="buttonbase buttonblue dark"
									id="voiceselectonly_plusupgrade" style="margin:15px auto;float:left;display:none;">
									<div class="buttontitle">Upgrade Now</div>
								</a>
								<a href="#" onclick="jQuery.unblockUI();return false;" class="bottomcancel">
									<div style="width: 180px">Cancel</div>
								</a>
							</div>
							<a onclick="jQuery.unblockUI()" class="close_btn"></a>
						</div>
					</div>
				</div>

				<script id="dialogTmpl" type="text/x-jquery-tmpl">
					<div class="dialog">
			<div class="num"></div>
			<div class="char_thumb">
				<img src="${thumbURL}" alt="" />
				<a class="switch">Switch</a>
				<div class="tips">Switch Actor</div>
			</div>
			<div class="box">
				<div class="dialog_input_wrapper">
					<textarea class="dialog_input" name="script_text[]"></textarea>
					<span class="label">Type in or Record Your dialog</span>
				</div>
				<div class="counter" style="display:none;"></div>
				<div class="voice_recorder"></div>
				<div class="dialog_options">
					<a class="dialog_switch">Actor<span class="tips">Switch Actor</span></a>
					{{if hasFacial}}
					<a class="dialog_facial">Emotion<span class="tips">Switch Emotion</span></a>
					{{/if}}
					<div class="langarea">
						<div class="lang"></div>
						<div class="gender"></div>
						Voice					<div class="tips">Switch Voice</div>
					</div>
				</div>
				<div class="dialog_input_control">
					<a class="dialog_tts on" data-method="tts"><div class="icon"></div><span class="tips">Text to Speech</span></a>
					<a class="dialog_mic" data-method="mic"><div class="icon"></div><span class="tips">Voice Recording</span></a>
				</div>
				<div class="dialog_control">
					<a title="Delete" class="dialog_delete">Delete</a>
					<a title="Insert Line" class="dialog_insert">Insert Line</a>
				</div>
			</div>
		</div>
	</script>

				<a class="btn_next" href="#step3" onclick="stepTo('#step3'); return false;">Next</a>
				<div class="upgrade">
					<a href="javascript:popUpgrade();" class="buttonbase buttonblue dark"
						style="margin:0 auto;float:none;display:block;">
						<div class="buttontitle">Upgrade Now</div>
					</a>
				</div>
			</div>

			<div id="seperator2"></div>

			<div id="step3" class="section">
				<h2><span>3. Type in or Record Your dialog</span></h2>

				<a class="previous_step" href="#step2" onclick="stepTo('#step2'); return false;">Back</a>

				<div id="dialog_wrapper">
					<div id="dialogs">
						<div class="dialog focus" data-charid="0" data-facial="default">
							<div class="num">1</div>
							<div class="char_thumb">
								<img src="http://web.archive.org/web/20130729180419im_/http://fs.goanimate.com/files/thumbnails/cchead/1426/1309426/127373443.png"
									alt="">
								<a class="switch">Switch</a>
								<div class="tips">Switch Actor</div>
							</div>
							<div class="box">
								<div class="dialog_input_wrapper">
									<textarea class="dialog_input" name="script_text[]"></textarea>
									<span class="label">Type in or Record Your dialog</span>
								</div>
								<div class="counter" style="display:none;"></div>
								<div class="voice_recorder"></div>
								<div class="dialog_options">
									<a class="dialog_switch">Actor<span class="tips">Switch Actor</span></a>
									<a class="dialog_facial">Emotion<span class="tips">Switch Emotion</span></a>
									<div class="langarea">
										<div class="lang"></div>
										<div class="gender"></div>
										Voice <div class="tips">Switch Voice</div>
									</div>
								</div>
								<div class="dialog_input_control">
									<a class="dialog_tts on" data-method="tts">
										<div class="icon"></div><span class="tips">Text to Speech</span>
									</a>
									<a class="dialog_mic" data-method="mic">
										<div class="icon"></div><span class="tips">Voice Recording</span>
									</a>
								</div>
								<div class="dialog_control">
									<a title="Delete" class="dialog_delete">Delete</a>
									<a title="Insert Line" class="dialog_insert">Insert Line</a>
								</div>
							</div>
						</div>
						<div class="dialog fake" data-charid="1">
							<div class="char_thumb">
								<img src="http://web.archive.org/web/20130729180419im_/http://fs.goanimate.com/files/thumbnails/cchead/1426/1309426/127370318.png"
									alt="">
							</div>
							<div class="box">
								<div class="dialog_input_wrapper">
									<div class="langarea">
									</div>
									<textarea id="fake_dialog_input" class="dialog_input"
										name="script_text[]"></textarea>
								</div>
								<label for="fake_dialog_input" class="dialog_input_message">
									<span class="basic">+ Add Dialog Line (10 max)</span>
									<span class="plus">+ Add up to 30 dialog lines</span>
								</label>
							</div>
						</div>
						<div class="max">
							<div>You've reached the maximum number of dialog lines</div>
						</div>
						<div class="upsell">Add up to 30 dialog lines in all your Quick Videos! <a
								href="javascript:popUpgrade();"><br> Upgrade to GoPlus &gt;</a></div>
					</div>
				</div>

				<div class="footer">
					<div class="bottom"></div>
					<a class="btn_next" onclick="GoLite.preview();stepTo('#step4');">Preview</a>

					<div class="upgrade">
						<a href="javascript:popUpgrade();" class="buttonbase buttonblue dark"
							style="margin:0 auto;float:none;display:block;">
							<div class="buttontitle">Upgrade Now</div>
						</a>
					</div>
				</div>

				<div id="facial_expression" class="lightbox" style="display:none">
					<div class="lightbox_wrapper">
						<h2>Choose a facial expression:</h2>
						<div id="expression">
							Expressions:
							<ul id="expression_list">
								<li><a data-facial="default" class="default selected">Default</a></li>
								<li><a data-facial="happy" class="happy">Happy</a></li>
								<li><a data-facial="angry" class="angry">Angry</a></li>
								<li><a data-facial="sad" class="sad">Sad</a></li>
								<li><a data-facial="cry" class="cry">Cry</a></li>
							</ul>
						</div>

						<a id="facial_expression_submit" href="javascript:;">Confirm</a>
						<a onclick="jQuery.unblockUI();" class="close_btn"></a>
					</div>
				</div>

				<script type="text/javascript">
					facialExpression.init({
						"default": "Default",
						"happy": "Happy",
						"angry": "Angry",
						"sad": "Sad",
						"cry": "Cry"
					});

				</script>

				<div id="dialog_input_change_confirm" class="lightbox confirmbox" style="display:none">
					<div class="lightbox_wrapper">
						<p>Switch Voice Input</p>
						<p>The current line of dialog will reset if you switch to a different voice input.</p>
						<div class="confirm_buttons">
							<a class="action-btn alert" onclick="jQuery.unblockUI();">Proceed</a>
							<a class="action-btn disabled" onclick="jQuery.unblockUI();">Cancel</a>
						</div>
					</div>
				</div>
			</div>
			<script type="text/javascript">
				jQuery('#dialogs .dialog').scriptDialog();

			</script>

			<div id="seperator3"></div>

			<div id="step4" class="section">
				<h2>4. Preview Your Video</h2>

				<a class="previous_step" href="#step3" onclick="stepTo('#step3'); return false;">Back</a>

				<div class="inside">
					<div class="anonymous">
						<h3>You need an account to preview and save your video.</h3>

						<a href="javascript:;" class="buttonbase buttonfacebook dark" id="btn_facebook_login"
							onclick="submitFBConnect();" style="width:220px;margin:15px auto;float:none;display:block;">
							<div class="buttontitle">Login with Facebook</div>
						</a>
						<a href="javascript:;" class="buttonbase buttonred dark" id="btn_signup"
							style="width:220px;margin:15px auto;float:none;display:block;">
							<div class="buttontitle">Signup Now</div>
						</a>
						<a href="javascript:;" class="buttonbase buttonpurple2 dark" id="bth_login"
							style="width:220px;margin:15px auto;float:none;display:block;">
							<div class="buttontitle">Login</div>
						</a>
					</div>
					<script type="text/javascript">
						jQuery('#bth_login').click(function (e) {
							e.preventDefault();
							showOverlay(jQuery('#login'));
							jQuery('#login_email').focus();
						});
						jQuery('#btn_signup').click(function (e) {
							e.preventDefault();
							showOverlay(jQuery('#signup'), {
								top: '80px'
							});
							jQuery('#email').focus();
						});

					</script>
					<div class="upgrade" style="display:none">
						<h3>Upgrade to GoPlus to enable preview and save your video.</h3>

						<a href="javascript:popUpgrade();" class="buttonbase buttonblue dark" id="btn_upgrade"
							style="margin:15px auto;float:none;display:block;">
							<div class="buttontitle">Upgrade Now</div>
						</a>
					</div>
					<div class="generate" style="display:none">
						<a class="btn_preview" href="#" onclick="GoLite.preview(); return false;">Generate Preview</a>
						<p>You made all the changes you wanted to your video?<br>
							Let's see how it looks like then!</p>
					</div>
					<div class="loading"></div>
					<div class="preview" style="display:none">
						<div id="player_container">
							This content requires the Adobe Flash Player 10.0.12. <a
								href="http://web.archive.org/web/20130729180419/http://get.adobe.com/flashplayer/">Get
								Flash</a>
						</div>
						<div class="upsell">Upgrade to publish all your videos to YouTube. <a
								href="javascript:popUpgrade('golite_youtube.site');">Get GoPlus now &gt;</a></div>
						<a id="btn_save" href="#"
							onclick="jQuery(document).trigger('GoLite.stateChange', ['save']); return false;">Save
							Now</a>
					</div>

					<div class="save" style="display:none">
						<div class="thumbnail">
							Choose your thumbnail
							<div id="thumb_chooser_container">
								This content requires the Adobe Flash Player 10.0.12. <a
									href="http://web.archive.org/web/20130729180419/http://get.adobe.com/flashplayer/">Get
									Flash</a>
							</div>
						</div>

						<div class="title">
							<label for="movie_title">TITLE:</label>
							<input type="text" id="movie_title" name="movie_title" value="" maxlength="140"
								placeholder="Enter your title here">
						</div>

						<div class="description">
							<label for="movie_description">DESCRIPTION:</label>
							<textarea id="movie_description" name="movie_description"
								placeholder="Enter your description (optional)"></textarea>
						</div>


						<div class="buttons">
							<a id="btn_publish" href="#" onclick="GoLite.save(); return false;">Publish</a>
						</div>
						<div class="clear"></div>

						<a id="back_preview" href="#"
							onclick="jQuery(document).trigger('GoLite.stateChange', ['preview']); return false;">&lt;
							Back to Preview</a>
					</div>
				</div>
			</div>

			<script type="text/javascript">
				GoLite.init(0);

			</script>

			<div id="footer">
				<a class="by_ga" href="http://web.archive.org/web/20130729180419/http://goanimate.com/"
					onclick="return confirm('You will lose your work if you leave this page. Are you sure?');"></a>
			</div>

		</div>

		<div id="publishing" class="lightbox" style="display:none">
			<div class="lightbox_wrapper">Publishing ...</div>
		</div>

		<div id="login" class="lightbox" style="display:none">
			<div class="lightbox_wrapper">
				<h2>Login to GoAnimate</h2>
				<form id="login_form" action="" method="post">
					<div id="login_form_message"></div>
					<div>
						<label>Email</label>
						<input id="login_email" type="text" name="email" value="">
					</div>
					<div>
						<label>Password</label>
						<input id="login_password" type="password" name="password" value="">
					</div>
					<div>
						<a href="javascript:;" class="buttonbase buttonblue" id="login_submit"
							style="margin:15px auto;float:none;display:block;">
							<div class="buttontitle">Login</div>
						</a>
					</div>
				</form>
				<a onclick="jQuery('#login_form_message').html('');jQuery('#login_email, #login_password').removeClass('error');jQuery.unblockUI();"
					class="close_btn"></a>
			</div>
		</div>
		<script type="text/javascript">
			(function ($) {
				var processing = false;

				function validateLogin() {
					var email = $('#login_email'),
						email_val = $.trim(email.val()),
						password = $('#login_password[type="password"]');

					// remove error class from input
					$('#login_email, #login_password').removeClass('error');
					// Empty form error message
					formErrorMessage('');

					if (!email_val || email_val == email.attr('placeholder')) {
						email.addClass('error').focus();
						formErrorMessage(GT.gettext('Please enter your Email'));
						return false;
					}

					if (!password.val()) {
						$('#login_password').focus();
						password.addClass('error');
						formErrorMessage('Your password is incorrect. Is your caps lock on?');
						return false;
					}

					return true;
				}

				function formErrorMessage(message) {
					$('#login_form_message').html(message);
				}

				function submitLogin() {
					if (!validateLogin()) {
						return;
					}
					if (processing) {
						return;
					}

					processing = true;

					$.post('/ajax/doLogin', $('#login_form').serialize(), function (response) {
						parseResponse(response);

						processing = false;

						if (responseArray['code'] == 0) {
							$(document).trigger('user.login');
						} else {
							formErrorMessage(responseArray['json'].errmsg);
						}
					});
				}

				$(document).ready(function () {
					$('#login_submit').click(function (e) {
						e.preventDefault();
						submitLogin();
					});
				});
			})(jQuery);

		</script>

		<div id="signup" class="lightbox" style="display:none">
			<div class="lightbox_wrapper">
				<h2>Create an account</h2>
				<form id="signup_form" action="" method="post">
					<div id="signup_form_message"></div>
					<div>
						<label for="email">Your Email Address</label>
						<input type="text" id="email" name="email" value="" placeholder="Your Email Address">
					</div>
					<div>
						<label for="username">Your Display Name</label>
						<input type="text" id="username" name="username" value="" placeholder="Your Display Name">
					</div>
					<div>
						<label for="password1">Your Password</label>
						<input type="password" id="password1" name="password1" value="" placeholder="Your Password">
					</div>
					<div>
						<label for="password2">Confirm Password</label>
						<input type="password" id="password2" name="password2" value="" placeholder="Confirm Password">
					</div>
					<div>
						<label><input type="checkbox" id="termsofuse" name="termsofuse" value="on">
							I agree to the <a id="tos_link"
								href="http://web.archive.org/web/20130729180419/http://goanimate.com/termsofuse"
								target="_blank">Terms of Use</a>.</label>
					</div>
					<input type="hidden" name="regsignup" value="1">
					<div>
						<a href="javascript:;" class="buttonbase buttonblue" id="signup_submit"
							style="margin:15px auto;float:none;display:block;">
							<div class="buttontitle">Sign Up Now</div>
						</a>
					</div>
				</form>
				<a onclick="jQuery('#signup_form_message').html('');jQuery('#email, #username, #password1, #password2').removeClass('error');jQuery.unblockUI();"
					class="close_btn"></a>
			</div>
		</div>
		<script type="text/javascript"
			src="http://web.archive.org/web/20130729180419js_/http://lightspeed.goanimate.com/static/425/go/js/signup.js">
		</script>

		<div id="upgrade" class="lightbox" style="display:none">
			<div class="lightbox_wrapper">
				<h2>Make animated videos exactly the way you want!</h2>
				<p>Complete the transaction in the browser window that just opened and confirm below to enable the
					upgrade.</p>
				<div>
					<a href="javascript:;" class="buttonbase buttonorange" id="upgrade_confirm"
						style="margin:15px auto;float:none;display:block;">
						<div class="buttontitle">Confirm</div>
					</a>
				</div>
				<a class="close_btn"></a>
			</div>
		</div>
		<script type="text/javascript">
			jQuery('#upgrade_confirm, #upgrade .close_btn').click(function (e) {
				e.preventDefault();
				GoLite.updateUserState(function (userState) {
					if (userState == 2) reloadCCList();
				});
				jQuery.unblockUI();
			});

		</script>

		<script type="text/javascript"
			src="http://web.archive.org/web/20130729180419js_/http://lightspeed.goanimate.com/static/425/go/js/jquery/jquery.swfobject.min.js">
		</script>
		<script type="text/javascript"
			src="http://web.archive.org/web/20130729180419js_/http://lightspeed.goanimate.com/static/425/go/js/jquery/jquery.waypoints.min.js">
		</script>
		<script type="text/javascript"
			src="http://web.archive.org/web/20130729180419js_/http://lightspeed.goanimate.com/static/425/go/js/jquery/jquery.placeholder.min.js">
		</script>
		<script type="text/javascript"
			src="http://web.archive.org/web/20130729180419js_/http://lightspeed.goanimate.com/static/425/go/js/watermark.js">
		</script>
		<script type="text/javascript">
			jQuery.flash.expressInstall = "/static/libs/expressInstall.swf";

			var customCC_model = [];
			var reloadCCList = function () {
				jQuery.ajax({
					url: '/ajax/getCCCharacters',
					type: 'POST',
					data: {
						cc_theme_id: 'anime',
						tags: ''
					},
					dataType: 'json',
					success: function (data, dummy1, dummy2) {
						customCC_model = jQuery.grep(data, function (cc) {
							return (cc.head_url && cc.thumb_url);
						});
						jQuery('div.character .customlink').addClass('ready');
					}
				});
			};

			(function ($) {
				$(document).ready(function () {
					$(document).trigger('GoLite.stateChange', ['']);

					var next = 'step1',
						prev = '';

					$('#nav_links .next').click(function (e) {
						e.preventDefault();

						next && stepTo('#' + next);
					});
					$('#nav_links .prev').click(function (e) {
						e.preventDefault();

						prev && stepTo('#' + prev);
					});

					$('.section').waypoint({
						offset: '50%'
					});

					$('body').delegate('.section', 'waypoint.reached', function (e, direction) {
						var $this = $(this);
						var id = $this.attr('id');

						if (direction == 'up') {
							if (id == 'step1') {
								next = 'step1';
								prev = '';
								id = 'intro';
							} else if (id == 'step2') {
								next = 'step2';
								prev = 'intro';
								id = 'step1';
							} else if (id == 'step3') {
								next = 'step3';
								prev = 'step1';
								id = 'step2';
							} else if (id == 'step4') {
								next = 'step4';
								prev = 'step2';
								id = 'step3';
							}
						} else {
							if (id == 'step1') {
								next = 'step2';
								prev = 'intro';
								kisstrack('GoLiteS1');
							} else if (id == 'step2') {
								next = 'step3';
								prev = 'step1';
								kisstrack('GoLiteS2');
							} else if (id == 'step3') {
								next = 'step4';
								prev = 'step2';
								kisstrack('GoLiteS3');
							} else if (id == 'step4') {
								next = '';
								prev = 'step3';
								kisstrack('GoLiteS4');
							}
						}

						$('#nav_links').find('li').removeClass('on').end()
							.find('.' + id).addClass('on');
					});

					if ($('#login_bar').length) {
						$('#seperator0').waypoint(function (e) {
							$('#login_bar').slideDown();
						}, {
							offset: 'bottom-in-view',
							triggerOnce: true
						});

						$(document).bind('user.signup user.login', function (e) {
							GoLite.updateUserState(function (userState) {
								if (userState == 2) reloadCCList();
								$(document).trigger('GoLite.stateChange', ['']);
								$('#login_bar').slideUp();
								showNotice('You are now logged in to GoAnimate');
							});
						});
					}

					jQuery('#movie_title, #movie_description').placeholder();
				});
				$(window).load(function () {
					$('#nav_links').fadeIn();
				});
			})(jQuery);

		</script>

		<script type="text/javascript">
			var customCCHeadsBaseUrl =
				'http://web.archive.org/web/20130729180419/http://fs.goanimate.com/files/thumbnails/cchead/0/0/';
			var customCCThumbsBaseUrl =
				'http://web.archive.org/web/20130729180419/http://fs.goanimate.com/files/thumbnails/ccthumb/0/0/';


			var goliteEditorMode = 'new';

		</script>




		<!--
		 FILE ARCHIVED ON 18:04:19 Jul 29, 2013 AND RETRIEVED FROM THE
		 INTERNET ARCHIVE ON 04:47:24 Apr 21, 2022.
		 JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.
	
		 ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
		 SECTION 108(a)(3)).
	-->
		<!--
	playback timings (ms):
	  captures_list: 63.013
	  exclusion.robots: 0.23
	  exclusion.robots.policy: 0.221
	  RedisCDXSource: 2.279
	  esindex: 0.008
	  LoadShardBlock: 36.586 (3)
	  PetaboxLoader3.datanode: 232.82 (4)
	  CDXLines.iter: 20.155 (3)
	  load_resource: 351.906
	  PetaboxLoader3.resolve: 150.214
	-->
	</body>
</html>
